.container {
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;

    .sidebar {
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        max-width: 25%;
        border-radius: 8px;
        height: fit-content;
    }

    .content {
        width: 72%;
    }
}