.episodeList {
    width: 100%;

    &Header {
        margin: 10px 0;
        margin-top: 0;
        background-color: #fff;
        color: black;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    &Table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;

    }

    .tableThead {
        background-color: #f9f9f9;
    }
    
    .tableTh,
    .tableTd {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
        color: black;
    }
    
    .tableTh {
        font-weight: bold;
    }
    
    .tableLink {
        color: #0070f3;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }
    }
}