.podcastInfo {
    &Image {
        max-width: 300px;
        height: auto;
        border-radius: 10px;
        margin: 0 auto;
        display: flex;
        margin-bottom: 20px;
    }
    
    &Title {
        padding: 20px;
        border-top: 1px solid #b7b7b7;
        border-bottom: 1px solid #b7b7b7;
    }
    
    &Name {
        font-size: 1.5em;
        color: black;
        margin: 10px 0;
    }
    
    &SecondaryTitle {
        font-size: 1.2em;
        color: #666;
        margin-bottom: 20px;
    }
    
    &DescriptionContainer {
        margin-top: 24px;
        padding: 0 20px;
    
        .podcastInfoDescription {
            margin-top: 16px;
            font-size: 1em;
            color: #333;
            text-align: left;
        }
    }
}

